@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Signika+Negative:300,400&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
  letter-spacing: 0.04em;
}
.revealUp {
  opacity: 0;
  visibility: hidden;
}
.lineUp {
    animation: 3s anim-lineUp ease-in;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
#container {
    position: relative;
    margin: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);
}

#text1, #text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 80pt;
    text-align: center;
    user-select: none;
}