* {
  box-sizing: border-box;
  margin:0;
  }
/*Navigation header class section*/
  ul_con{
    list-style-type: none;			
    margin: 0;
    padding: 0;
    overflow: hidden;		            /*if we delete this line, the navbar is gone*/
    background-color: #000000;		   /*Navbar color to black*/
    position: fixed;					/*fixed so it always on top*/
    top: 0;							    /*This is for changing the navbar position vertically*/
    width: 100%;				            /*Navbar will cover the entire screen*/
    right:0;
  
  }

  .logo img{							/*Logo class*/					
      float: left;					/*fix position of the logo to top left*/
      padding: 10px;    
    }
  
  li {								    /*position of menu class*/
    float: right;						/*Fix menu class position to the top right*/
    margin: 10px;
  }
  
  li a {							/*button menu class*/
    display: block;					/*the shape of the button*/
    margin:auto;
    color: white;				    /*text color*/
    text-align: center;				/*position of the text is center in the button*/
    padding: 14px 16px;				/*size of button*/
    text-decoration: none;			/*could add underline effect/ bold effec / italic effecr. But none for now*/
  }
  
  li a:hover:not(.active) {			/*class to change color if the button is not clicked*/
    background-color: #111;	    /*default color of the button*/
  }
  
  .active {							 /*class to change color if clicked*/
    color : black;					/*change text to black*/
    background-color: #ffff00;		/*change the button to yellow*/
    border-radius: 25px;            /*make the corner more rounded*/
  }
/*Navigation header class section*/
/*footer class section*/
.footer {
  background-color: #2e2e2e;
  padding: 15px;
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  color: white;
  
}
table, th, td {
padding: 15px;
}
table {
width: 100%;
}
.footer2 {
  background-color: #000000;
  padding: 15px;
  width: 100%;
  margin-bottom: auto;
  color: white;
  
}
.copyright {
  background-color: #000000;
  padding-bottom: 15px;
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  color: #444444;
  font-style: italic;
}
/*footer class section*/
/*animation section*/
.lineUp {
  animation: 3s anim-lineUp ease-in;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}