body{
    position:relative;
    z-index:-1;
  }
  article {
    z-index:-1;                     /*Move the object to behind (1 layer)*/
    min-height: 105vh;              /*Position will be alwats on top*/
    position:relative; top:65px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color:#292929;
    color: white;
    padding: 10px;
  }
  .main {
  font-size: 30px;
  width: 54%;
  height: 600px;
  float: left;
  position: relative;
  padding: 15px;
  /*border: 1px solid red;*/
  }
  model-viewer {
    height: 600px;
    width: 600px;
    position: relative;
    float: right;
    border: none;
  }
  .spec {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(116,116,116,1) 100%, rgba(130,145,138,1) 100%);
  padding: 15px;
  width: 100%;
  height: 200px;
  margin-bottom: auto;
  }
  .speedspec{
    text-align: center;
    position: relative;
    float: left;
    font-weight: 900;
    margin-left: 20px;
  }
  .speed{
    position: relative;
    float: left;
    height: 100px;
    width: 300px;
  }
  .horsespec{
    text-align: center;
    position: relative;
    left: 200px;
    float: left;
    font-weight: 900;
    margin-left: 20px;
  }
  .engine{
    position: relative;
    float: left;
    margin: auto;
    height: 120px;
    width: 220px;
  }
  .dimensionspec{
    text-align: center;
    position: relative;
    float: right;
    right: 50px;
    font-weight: 900px;
    margin-right: 20px;
  }
  .dimension{
    position: relative;
    height: 100px;
    width: 100px;
  }
  .botmenu {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  height: 200px;
  margin-bottom: auto;
  }
  .nextprev{
    position: relative;
    float: left;
    background-color: #000000;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 125px 30px;
    cursor: pointer;
  }
  .nextprev:hover{
    background-color: yellow;
    color: black;
  }
  .merch{
    position: relative;
    float: left;
    margin: 55px 125px;
    font-weight: 900;
  }
  .merchicon{
    position: relative;
    float: left;
    height: 50px;
    width: 50px;
    margin-left: 100px;
  }
  .review{
    position: relative;
    float: right;
    padding-right: 60px;
  }
  a.foot { 
    text-decoration: none; 
  }
  a.foot:link, a.foot:visited {
    color: white;
  }
  a.foot:hover {
    color: yellow;
  }
  @media only screen and (min-width: 1900px) {
    article {
      min-height: 70vh;
    }  
  }