  #block07{
      position:absolute;
      left:2%;
      width:31%;
      height:99%;
      background: linear-gradient(to bottom right ,rgba(50,50,50),rgba(220,220,220));
      border-radius:10px;
  }
    #block08{
      position:absolute;
      left:34.5%;
      width:31%;
      height:99%;
      background: linear-gradient(to bottom ,rgba(50,50,50),rgba(220,220,220));
      border-radius:10px;
  }
    #block09{
      position:absolute;
      left:67%;
      width:31%;
      height:99%;
      background: linear-gradient(to bottom left ,rgba(50,50,50),rgba(220,220,220));
      border-radius:10px;
  }
  .picture{
      position:absolute;
      width:100%;
      height:40%;
      background:black;
      border-radius: 10px 10px 0px 0px;
      overflow:hidden;
  }
  .content{
      position:absolute;
      top:40%;
      width:100%;
      height:60%;
      background:;
      border-radius: 0px 0px 10px 10px;
  }
  #box{
      margin: auto;
      position:relative;
      width:65%;
      height:600px;
      background:;
  }
  h2{
      font-family:Verdana;
      margin-top:3%;
      text-align:center;
      padding:20px;
  }
  h3{
      text-align:center;
      padding:5px;
  }
